header .logo 
  margin-top: 30px
  margin-left: 0px

header nav
  margin-right: 0px

header .logo a
  color: #96595f

header nav a
    color: #96595f

a
  color: #96595f
body
  background: #72baf0
  font-family: 'Lucida Grande', monospace
  font-size: 16px
  
.site-container
  width: 900px 
  margin: auto
  color: #f9fefe

@media (max-width: 768px)
  .site-container
    width: 95vw
